<!--    Made by Erik Terwan    -->
<!--   24th of November 2015   -->
<!--        MIT License        -->
<nav role='navigation'>
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />

    <!--
    Some spans to act as a hamburger.

    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>

    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
      <a href="scenario1.html"><li>Escenario: Cuarentena perfecta</li></a>
      <a href="scenario2.html"><li>Escenario: Salir a comprar</li></a>
      <a href="scenario3.html"><li>Escenario: Salir a trabajar</li></a>
    </ul>
  </div>
</nav>
