body
{
  margin: 0;
  padding: 0;
  background: #010101;
  font-family: Helvetica Neue, Arial, sans-serif;
}

.wrapper {
  width: 85%;
  text-align: center;
  margin: 50px auto;
  color: #cdcdcd;
  text-align: center;
  overflow-x: hidden;
}

h1 {
  font-weight: 200;
  font-size: 3em;
  margin: 0 0 1em 0;
}

h2 {
  font-weight: 200;
  font-size: 0.9em;
  margin: 0 0 50px;
  color: #999;
}

a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
}

p {
  text-align: justify;
}

p.simu {
  text-align: center;
}

.row {
  margin: 0 0 1em 0;
}
